nextcloud:
  internalDatabase:
    enabled: false

  externalDatabase:
    enabled: true
    type: mysql
    host: truenas.parkiki.org:3306
    database: nextcloud
    existingSecret:
      enabled: true
      secretName: nextcloud-mariadb-credentials
      usernameKey: user
      passwordKey: password

  mariadb:
    enabled: false
  postgresql:
    enabled: false

  persistence:
    enabled: true
    storageClass: nextcloud-storageclass
    accessMode: ReadWriteMany
    size: 10Gi

  nextcloud:

    extraSidecarContainers:
     - name: nextcloud-logger
       image: busybox
       command: [/bin/sh, -c, 'while ! test -f "/run/nextcloud/data/nextcloud.log"; do sleep 1; done; tail -n+1 -f /run/nextcloud/data/nextcloud.log']
       volumeMounts:
       - name: nextcloud-data
         mountPath: /run/nextcloud/data


    host: nextcloud.parkiki.org

    configs:
      overwrite.config.php: |-
        <?php
        $CONFIG = array (
          'overwritehost' => 'nextcloud.parkiki.org:443',
          'overwriteprotocol' => 'https',
        );

    trustedDomains:
      - nextcloud.parkiki.org
      - localhost

    existingSecret:
      enabled: true
      secretName: nextcloud-admin
      usernameKey: nextcloud-username
      passwordKey: nextcloud-password

    objectStore:
      s3:
        enabled: true
        bucket: "nextcloud"
        host: "truenas.parkiki.org"
        port: "30292"
        ssl: false
        region: "us-east-1"
        usePathStyle: true
        legacyAuth: false

        existingSecret: "nextcloud-s3-credentials"
        secretKeys:
          accessKey: "accessKey"
          secretKey: "secretKey"
