nextcloud:
  nextcloud:
    objectStore:
      s3:
        enabled: true
        bucket: "nextcloud"
        host: "nextcloud.parkiki.org"
        port: "30292"
        ssl: true
        region: "us-east-1"
        usePathStyle: true
        legacyAuth: false

        existingSecret: "nextcloud-s3-credentials"
        secretKeys:
          accessKey: "accessKey"
          secretKey: "secretKey"
