nextcloud:
  persistence:
    enabled: true
    storageClass: nextcloud-storageclass
    accessMode: ReadWriteMany
    size: 1Ti
    nextcloudData:
      enabled: true
      subPath: data

  nextcloud:
    existingSecret:
      enabled: true
      secretName: nextcloud-admin
      usernameKey: nextcloud-username
      passwordKey: nextcloud-password

  internalDatabase:
    enabled: false

  postgresql:
    enabled: true
    auth:
      existingSecret: nextcloud-postgres
      usernameKey: username
      passwordKey: password
      databaseKey: database
    primary:
      persistence:
        enabled: true
        storageClass: nextcloud-postgresql-storageclass

  redis:
    enabled: true
    auth:
      enabled: false

  livenessProbe:
    initialDelaySeconds: 120
    failureThreshold: 5

  readinessProbe:
    initialDelaySeconds: 120
    failureThreshold: 5

  podSecurityContext:
    fsGroup: 33
    runAsUser: 33
    runAsGroup: 33
