nextcloud:
  nextcloud:
    host: nextcloud.parkiki.org
    trustedDomains:
      - nextcloud.parkiki.org
      - localhost
    existingSecret:
      enabled: true
      secretName: nextcloud-admin
      usernameKey: nextcloud-username
      passwordKey: nextcloud-password
    objectStore:
      s3:
        enabled: true
        bucket: "nextcloud"
        host: "truenas.parkiki.org"
        port: "30292"
        ssl: false
        region: "us-east-1"
        usePathStyle: true
        legacyAuth: false

        existingSecret: "nextcloud-s3-credentials"
        secretKeys:
          accessKey: "accessKey"
          secretKey: "secretKey"
