nextcloud:
  nextcloud:
    host: nextcloud.parkiki.org

    configs:
      overwrite.config.php: |-
        <?php
        $CONFIG = array (
          'overwritehost' => 'nextcloud.parkiki.org:443',
          'overwriteprotocol' => 'https',
        );

    trustedDomains:
      - nextcloud.parkiki.org
      - localhost

    existingSecret:
      enabled: true
      secretName: nextcloud-admin
      usernameKey: nextcloud-username
      passwordKey: nextcloud-password

    objectStore:
      s3:
        enabled: true
        bucket: "nextcloud"
        host: "truenas.parkiki.org"
        port: "30292"
        ssl: false
        region: "us-east-1"
        usePathStyle: true
        legacyAuth: false

        existingSecret: "nextcloud-s3-credentials"
        secretKeys:
          accessKey: "accessKey"
          secretKey: "secretKey"
