---
apiVersion: v1
kind: Service
metadata:
  name: gitea-http-clusterip
  namespace: gitea
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/instance: gitea-application
    app.kubernetes.io/name: gitea
  ports:
    - name: http
      port: 3000
      targetPort: 3000
      protocol: TCP
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: gitea
  namespace: gitea
spec:
  defaultBackend:
    service:
      name: gitea-http-clusterip
      port:
        number: 3000
  ingressClassName: tailscale
  tls:
    - hosts:
        - gitea
