apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: nextcloud
  namespace: nextcloud
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: Host(`nextcloud.parkiki.org`)
      priority: 10
      services:
        - name: nextcloud
          port: 8080
  tls:
    certResolver: letsencrypt
