apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    additionalArguments:
      - "--api"
      - "--api.dashboard=true"
      - "--api.insecure=true"
      - "--log.level=DEBUG"
      - "--log.level=DEBUG"
      - "--certificatesresolvers.letsencrypt.acme.email=pmw9905@gmail.com"
      - "--certificatesresolvers.letsencrypt.acme.storage=/data/acme.json"
      - "--certificatesresolvers.letsencrypt.acme.dnschallenge=true"
      - "--certificatesresolvers.letsencrypt.acme.dnschallenge.provider=porkbun"
    env:
      - name: PORKBUN_API_KEY
        valueFrom:
          secretKeyRef:
            name: porkbun-credentials
            key: api-key
      - name: PORKBUN_SECRET_API_KEY
        valueFrom:
          secretKeyRef:
            name: porkbun-credentials
            key: secret-api-key
    ports:
      traefik:
        expose: 
          default: true
    providers:
      kubernetesCRD:
        allowCrossNamespace: true
